.nav-bar_container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: var(--secondary-bg-color);
  align-items: center;
  padding: 1rem;
  color: var(--dark-font);
}

.drop-down-menu {
  padding-right: 1rem;
}

.nav-title {
  font-size: clamp(1.75rem, 4vw, 4rem);
}

@media screen and (min-width: 960px) {
  .nav-bar_container {
    padding: 4rem;
  }
}
