a {
  color: var(--accent);
  text-decoration: none;
}

.p-menu1 {
  height: fit-content;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

/* Hamburger */
.hamburger1 {
  height: 25px;
  position: fixed;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
  top: 1.5rem;
  right: 1.5rem;
}

.hamburger1 div {
  background-color: var(--light-font);
  position: relative;
  width: 30px;
  height: 2.5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 100px;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
  background-color: black;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -3px;
  background-color: black;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 30vh;
}

/* Menu */
.menu1 {
  background-color: var(--light-font);
  margin: 4rem 0;
  display: -ms-grid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  list-style: none;
  clear: both;
  width: 100%;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 14;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--dark-font);
  border-radius: 20px 0 0 20px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 1rem;
  font: 700 20px "Oswald", sans-serif;
  border: none;
  background-color: var(--light-font);
  color: var(--dark-font);
}

.link1:hover {
  background-color: var(--dark-font);
  color: var(--accent);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
