* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handlee", cursive;
}

:root {
  /* palette */
  --main-bg-color: rgb(36, 26, 25);
  --secondary-bg-color: #d0926b;

  --light-font: #e3cfba;
  --light-font-50: #e3cfba23;
  --dark-font: rgb(36, 26, 25);

  --accent: #a58675;
  /* standard alignments */
}
/* containers */

.flex-container {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: flex-start;

  padding: 1rem;
  gap: 3rem;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bolder;
}
