* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handlee", cursive;
}

:root {
  /* palette */
  --main-bg-color: #241a19;
  --secondary-bg-color: rgb(208, 146, 107);

  --light-font: #e3cfba;
  --light-font-50: #e3cfba23;
  --dark-font: rgb(36, 26, 25);
  font-size: 16px;
  --accent: #a58675;
  /* standard alignments */

  /* Font sizes */
  --sma-font: 0.8rem;
}
/* containers */

.flex-container {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: flex-start;

  padding: 1rem;
  gap: 3rem;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bolder;
}
